version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: portal-db
    environment:
      POSTGRES_DB: portal_db
      POSTGRES_USER: portal
      POSTGRES_PASSWORD: portal
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: portal-redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
